#home {
    color: #D9B346;
}
.logonav1{
    height: 40px;
}
#nav{
    background-color: #181818;
    margin-bottom: 2%;
    margin-top: 0px;
    padding: 10px;
    
}
#logonav{
    position: relative;
    margin-right: 11%;
    margin-top: 0px;
}
.getquote {
    position: relative;
    margin-left: 13%;
    background: transparent;
    padding: 10px 20px 10px 20px;
    
    /* Button */

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    /* identical to box height, or 147% */

    letter-spacing: 0.2px;

    color: #D9B346;
    border: 1px solid #D9B346;
}

* {
    text-transform: capitalize;
}
.container{
    position: relative;
    margin-top: 8%;
}
.bigtext{
    font-family: 'Graphik';
font-style: normal;
font-weight: 500;
background-color: transparent;
font-size: 80px;
line-height: 88px;
/* or 110% */
color: white;
text-align: center;
letter-spacing: 0.2px;
}
.smalltext{
    font-family: 'Graphik';
font-style: normal;
background-color: transparent;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */

text-align: center;
letter-spacing: 0.2px;
margin: 2%;
color: #F8F8F8;
}
.button{
    display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.book{
margin: 13px;
padding: 10px 30px;

width: 189px;
height: 50px;

background: linear-gradient(96.01deg, #F7EA76 0%, #D1AF4D 111.25%);
/* shadow */

box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);

font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
/* identical to box height, or 147% */

letter-spacing: 0.2px;

color: #181818;
}
.explore{
    margin: 13px;
    width: 187px;
    background-color: transparent;
    height: 48px;

/* Button */

font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
/* identical to box height, or 147% */

letter-spacing: 0.2px;

/* light background */
color: #FFFFFF;
border: 1px solid white;
}
#imgvid{
    margin-left: 20%;
width: 60%;
height: 40%;
left: 0px;
top: 0px;
z-index: -1;
border: 2px solid #D1AF4D;
border-radius: 10px;
}
#play{
    /* position: absolute;
    z-index: 3;
    margin-right:20%; */
    position: absolute;
width: 100px;
height: 100px;
border-radius: 50%;
left: 46.5%;
top: 69%;
}
.features{
    background-image: url('./media/vector1.png');
    width: 100%;
    height: 1132px;
    padding: 2%;
    text-align: center;
    
}
.heading{
/* Second Headline */
background-color: transparent;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 52px;
background-color: transparent;
/* identical to box height, or 119% */
letter-spacing: 0.2px;
/* light text */
color: #FFFFFF;
}
.box{
    display: flex;
    gap: 2%;
    width: 100%;
    height: 400px;
    justify-content: center;
    background: transparent;
}
.left{
    background-color: #e6e6e600;
    width: 40%;
    margin-top: 7%;
}
.fir{
    font-family: 'Graphik';
font-style: italic;
font-weight: 500;
font-size: 36px;
line-height: 62px;
/* identical to box height, or 172% */
background-color: #18181800;
letter-spacing: 0.2px;

color: #D9B346;
}
.bigtext2{
    background-color: #18181800;
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 52px;
line-height: 62px;
/* or 119% */

letter-spacing: 0.2px;

/* light text */

color: #FFFFFF;
}
.right{
    background-color: #e6e6e600;
    width: 40%;
    margin-top: 7%;
}
.left{
    padding-top: 150px;
}
.textbox{
    display: flex;
    width: 80%;
    height: 200px;
    background-color: transparent;
    justify-content: center;
}
#rightbox{
    width: 100%;
}
.sponsors{
    background-image: url('./media/sponserbackground.png');
    width: 100%;
    height: 600px;
    text-align: center;
}
.col{
    color: #D1AF4D;
    background-color: transparent;
}
.iconbox{
    margin: 2% 7.5%;
    
    width: 85%;
    flex-basis: 1fr 1fr 1fr 1fr 1fr;
    display: flex;
    margin-bottom: 0%;
    justify-content: space-evenly;
    background-color: transparent;
}
.icon{
    height: 100px;
    width: 20%;
}
.icon2{
width: 85%;
margin: 0% 7.5%;
}
img,object{
    background-color: transparent;
}
.about{
    width: 1579px;
    height: 833px;
}
#bird{
    position: absolute;
width: 1611px;
height: 100%;
display: flexbox;
flex-direction: column-reverse;
}
#man{
    z-index: 1;
    position: absolute;
    margin-left: 70%;
    height: 100%;
}
.txt{
    width: 50%;
    height: 100%;
    padding-left: 16%;
    text-align: left;
    padding-top: 9%;
    z-index: 1;
}
.stats{
    display: flex;
    margin-top: 19%;
    justify-content: space-evenly;
}
.statsbox{
    width: 150px;
}
.helpcenter{
    text-align: center;
    padding-top: 8%;
    height: 884px;
}
.heading2{
    font-family: 'Graphik';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 44px;
text-align: center;
color: #FFFFFF;
}
.commentbox{
background-color: #D1AF4D;
width: 350px;
text-align: center;
padding-top: 40px;
height: 171px;
}
.boxtxt{
    background-color: transparent;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;
text-align: center;

color: #181818;
}
.white{
    background-color: white;
    width: 50px;
    padding-left: 5px;
    height: 25px;
    margin: 26px 0px 0px 10%;
    position: absolute;
}
.comments{
    display: flex;
    text-align: center;
    width: 100%;
    margin-top: -40%;
    height: 200px;
    justify-content: space-evenly;
}
.commentbox-off{
    color: white;
    padding-top: 40px;
    background-color: transparent;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
}
#more{
    margin-left: 47%;
}
.members{
    display: flex;
    margin-top: 5%;

}
.smalltext1{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
color: white;
font-size: 20px;
line-height: 30px;
}
.memtxt{
    margin-top: 8%;
    text-align: left;
    align-items: flex-start;
    margin-left: 10%;
}
.book1{
    
    padding: 10px 30px;
    
    width: 80%;
    height: 50px;
    
    background: linear-gradient(96.01deg, #F7EA76 0%, #D1AF4D 111.25%);
    /* shadow */
    
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    /* identical to box height, or 147% */
    
    letter-spacing: 0.2px;
    
    color: #181818;
}
#smile{
    position: absolute;
    margin-left: 18%;
    z-index: 1;
    background: transparent;
    margin-bottom: 25px;
}
#pattern{
    position: absolute;
    margin-left: 15%;
    margin-bottom: 25px;
}
#foot{
    margin-top: 4%;
    color: white;
}